@media screen and (max-width: 480px) {
  nav {
    width: 50%;
    height: 100%;
    background-color: #0e1a35;
    position: absolute;
  }

  .container4 {
    flex-wrap: wrap;
  }

  .container3 {
    flex-wrap: wrap;
    background-color:  green;
    
  }
  .container3{
    height: 100%;
    width: 100%;
}

  .container3 img:first-child {
    height: 40%;
    margin: 0;
    padding: 0;
  }
  .container3 img:nth-child(2n)  {
    height: 30%;
    margin: 0;
    padding: 0;
  }
}

@media screen and (min-width: 480px) {
  nav {
    width: 20%;
    height: 100%;
    background-color: #0e1a35;
  }

  .container3 {
    height: 70%;
    width: 100%;
  }

  .container3 img {
    height: 80%;
    border: 1px solid #dce1e9;
   }

   .container4 ul{
    width: 30%;      
  }
}

/* flex */
h1 {
 padding-left: 30px;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #f6f7fa;
  padding-left: 10px;
}

.flex-column {
  height: 100%;
  width: 100%;
  overflow: auto;
  flex-direction: row;
}

.direction-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: flex-start;
}
  
.container2{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container3{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 30px;
 }

.container4{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  /* align-items: center; */
}

.toolbar{
  display: flex;
  flex-direction: row;
  height: 14.7%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 0.5px solid #dce1e9;
}

.middle{
  flex: 1;
}

/* menu-nav */
nav ul{
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

nav li:hover {
  border-left-color: #5584ff;
  background-color: #122143;
}

nav li {
  border: 1px solid #0e1a35;
  border-left-width: thick;
  padding-left: 25px;
  padding-right: 20px; 
  padding-top: 20px;
  height: 70px;
}

a {
  text-decoration: none;
  color: white;
}

.active{
  border-left-color: #5584ff;
  background-color: #122143
}

 /* interaction-boxes */
.container4 ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  height: 100%;
  vertical-align: middle;
}

.container4 ul:nth-child(odd) li {
  background-color: white;
}

.read{
  background-color: #f4f5f8;
}

.container4 li{
  /* background-color: white; */
  padding-left: 20px;
  vertical-align: middle;
  border-top: 0.5px solid #dce1e9;
  border-bottom: 0.5px solid #dce1e9;
  border-left: 0.5px solid #dce1e9;
  border-right: 0.5px solid #dce1e9;
  height: 70%;
  width: 90%;
  padding-right: 20px;
  padding-top: 25px;
  vertical-align: middle;
}

.container4 li:first-child {
  font-weight: bold;
  height: 30%;
}

.container4 ul:last-child li:first-child {
  border-top: 0.5px solid #dce1e9;
  border-bottom: 0.5px solid #dce1e9;
  border-left: 0.5px solid #dce1e9;
  border-right: 0.5px solid #dce1e9;
}

.container4 ul:last-child li {
  border-top: 0;
  border-bottom: 0;
  border-left: 0.5px solid #dce1e9;
  border-right: 0.5px solid #dce1e9;
}

.container4 ul:last-child li:last-child {
  border-top: 0;
  border-bottom: 0.5px solid #dce1e9;
  border-left: 0.5px solid #dce1e9;
  border-right: 0.5px solid #dce1e9;
}

/* toolbar button */
.toolbar-right-button{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  cursor: pointer;
  background-color: #5584ff; 
  border-radius: 40%;
  border: none;
  color: white;
  border-bottom-right-radius: 45px;
  border-top-right-radius: 45px;
  border-bottom-left-radius: 45px;
  border-top-left-radius: 45px;
  transition-duration: 0.4s;
  outline: none;
  padding-right: 20px;
}

.toolbar-right-button:hover {
  background-color: #7c9be9; 
}

.toolbar-right-button:active {
  transform: translateY(4px);
}

.toolbar-left{
  padding-left: 30px;
}

.toolbar-right{
  display: flex;
  flex-direction: row;
  align-items: center;
}
 
/* icons */
li.home {
  list-style-image: url('../assets/menu/home.png');
}

li.workflow {
  list-style-image: url('../assets/menu/workflow.png');
}

li.statistics {
  list-style-image: url('../assets/menu/statistics.png');
}

li.calendar {
  list-style-image: url('../assets/menu/calendar.png');
}

li.users {
  list-style-image: url('../assets/menu/users.png');
}

li.settings {
  list-style-image: url('../assets/menu/settings.png');
}

.fa-bell {
  position: relative;
  cursor: pointer;
}

.fa-circle{
  position: absolute;
  font-size: 0.6em;
  top: -1px;
  color: #5384ff;
  right: -1px;
}

.fa-search{
  padding-left: 15px;
}

.fa-caret-left {
  color: #618cff;
}

.fa-ellipsis-v {
  font-size: 2.5em;
  color: #666;
  padding-left: 30px;
  align-self: flex-end;
}

.fa-plus {
  margin:10px;
  color:#98b5ff;
}

.fa-caret-down {
  padding-left: 0px; 
}

span.num {
  position: absolute;
  font-size: 0.3em;
  top: 1px;
  color: #fff;
  right: 2px;
}

/* boxes */
.tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-content: space-between;
  align-items: center;
}

.tasks-circle {
 position: inherit;
 font-size: 30px;
}

.num-tasks {
  position: relative;
  font-size: 0.5em;
  top: -6px;
  color: white;
  right: 23px;
}

.warning {
  color: #f83c7b;
}

.bold {
  font-weight: bold;
}

.grey {
  color: #666;
}

.small-font {
  font-size: 1em;
}

.small-small-font {
  font-size: 0.8em;
}

.big-font {
  font-size: 1.1em;
}

.background-white {
  background-color: white;
}

hr {
  transform: rotate(90deg);
}

.user {
  display: flex;
  align-items: center;
}

.toolbar-right :nth-child(-n+3) {
  margin-right: 10px;
}

.big-big-font {
  font-size: 2em;
}