@media screen and (max-width: 480px) {
  nav {
    width: 50%;
    height: 100%;
    background-color: rgb(153, 51, 51);
  }
}

@media screen and (min-width: 480px) {
  nav {
    width: 20%;
    height: 100%;
    background-color: #0e1a35;
  }
}

/* flex */
.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: #808080;
  overflow: hidden;
}

.flex-column {
  height: 100%;
  width: 100%;
  overflow: auto;
  flex-direction: row;
}
  
.container2{
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #ca1a1a;
}

.container3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70%;
  width: 100%;
  justify-content: space-around;
  background-color: #3dca1a;
 }

.container4{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #cac71a;
}

.toolbar{
  display: flex;
  flex-direction: row;
  height: 14.7%;
  width: 100%;
  background-color: green;
}

.middle{
  flex: 1;
}

/* menu-nav */
ul{
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

li:hover {
  border-left-color: red;
}

li {
  border: 1px solid black;
  border-left-width: thick;
  padding-left: 50px;
}

a {
  text-decoration: none;
  color: white;
}

.active{
  border-left-color: red;
}

 /* interaction-boxes */
.container4 ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  /* align-content: space-around; */
  padding-bottom: 20px;
}

.container4 li{
  padding-left: 20px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  height: 30%;
  width: 100%;
  padding-right: 10px;
}

.container4 li:first-child {
  font-weight: bold;
}

/* toolbar button */
.toolbar-right-button{
  cursor: pointer;
  background-color: rgb(76, 86, 175); 
  border-radius: 12px;
  border: none;
  display: inline-block;
  transition-duration: 0.4s;
  outline: none;
  box-shadow: 0 2px #999;
}

.toolbar-right-button:hover {
  background-color: #5566a8; /* Green */
}

.toolbar-right-button:active {
  background-color: rgb(76, 86, 175);
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.toolbar-left{
  background-color: wheat; 
}

.toolbar-right{
  background-color: yellow;
}
 
/* icons */
li.home {
  list-style-image: url('../assets/menu/home.png');
}

li.workflow {
  list-style-image: url('../assets/menu/workflow.png');
}

li.statistics {
  list-style-image: url('../assets/menu/statistics.png');
}

li.calendar {
  list-style-image: url('../assets/menu/calendar.png');
}

li.users {
  list-style-image: url('../assets/menu/users.png');
}

li.settings {
  list-style-image: url('../assets/menu/settings.png');
}

.fa-bell {
  position: relative;
  cursor: pointer;
}

.fa-circle{
  position: absolute;
  font-size: 0.6em;
  top: -1px;
  color: red;
  right: -1px;
}

span.num {
  position: absolute;
  font-size: 0.3em;
  top: 1px;
  color: #fff;
  right: 2px;
}

/* boxes */
.tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-content: space-between;
  align-items: center;
}

.tasks-circle {
 position: inherit;
 font-size: 30px;
 padding-left: 5px;
}
