@media screen and (max-width: 480px) {
  nav {
    width: 50%;
    height: 100%;
    background-color: #0e1a35;
    position: absolute;
  }

  .container4 {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px) {
  nav {
    width: 20%;
    height: 100%;
    background-color: #0e1a35;
  }
}

/* flex */
h1 {
 padding-left: 30px;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #f6f7fa;
  padding-left: 10px;
}

.flex-column {
  height: 100%;
  width: 100%;
  overflow: auto;
  flex-direction: row;
}

.direction-row {
  display: flex;
  flex-direction: row;
}
  
.container2{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 70%;
  width: 100%;
  justify-content: space-around;
  padding-bottom: 30px;
 }

 .container3 img {
  height: 200px;
 }

.container4{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  /* align-items: center; */
}

.toolbar{
  display: flex;
  flex-direction: row;
  height: 14.7%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.middle{
  flex: 1;
}

/* menu-nav */
nav ul{
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

nav li:hover {
  border-left-color: #5584ff;
  background-color: #122143;
}

nav li {
  border: 1px solid #0e1a35;
  border-left-width: thick;
  padding-left: 25px;
  padding-right: 20px; 
  padding-top: 20px;
  height: 70px;
}

a {
  text-decoration: none;
  color: white;
}

.active{
  border-left-color: #5584ff;
  background-color: #122143
}

 /* interaction-boxes */
.container4 ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  height: 100%;
  vertical-align: middle;
}

.read{
  background-color: #9e3c3c;
}

.container4 li{
  background-color: white;
  padding-left: 20px;
  vertical-align: middle;
  border-top: 0.5px solid #dce1e9;
  border-bottom: 0.5px solid #dce1e9;
  border-left: 0.5px solid #dce1e9;
  border-right: 0.5px solid #dce1e9;
  height: 100%;
  width: 90%;
  padding-right: 20px;
  padding-top: 25px;
  vertical-align: middle;
}

.container4 li:first-child {
  font-weight: bold;
  height: 50%;
}

.container4 img {
  padding-right: 10px;
}

/* toolbar button */
.toolbar-right-button{
  height: 100%;
  cursor: pointer;
  background-color: #5584ff; 
  border-radius: 12px;
  border: none;
  display: inline-block;
  transition-duration: 0.4s;
  outline: none;
  box-shadow: 0 2px #999;
}

.toolbar-right-button:hover {
  background-color: #7c9be9; 
}

.toolbar-right-button:active {
  background-color: #5584ff;
  box-shadow: 0 1px #666;
  transform: translateY(4px);
}

.toolbar-left{
  padding-left: 50px;
}

.toolbar-right{
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-content:space-between;
}
 
/* icons */
li.home {
  list-style-image: url('../assets/menu/home.png');
}

li.workflow {
  list-style-image: url('../assets/menu/workflow.png');
}

li.statistics {
  list-style-image: url('../assets/menu/statistics.png');
}

li.calendar {
  list-style-image: url('../assets/menu/calendar.png');
}

li.users {
  list-style-image: url('../assets/menu/users.png');
}

li.settings {
  list-style-image: url('../assets/menu/settings.png');
}

.fa-bell {
  position: relative;
  cursor: pointer;
}

.fa-circle{
  position: absolute;
  font-size: 0.6em;
  top: -1px;
  color: #5384ff;
  right: -1px;
}

.fa-search{
  padding-left: 15px;
}

span.num {
  position: absolute;
  font-size: 0.3em;
  top: 1px;
  color: #fff;
  right: 2px;
}

/* boxes */
.tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  align-content: space-between;
  align-items: center;
}

.tasks-circle {
 position: inherit;
 font-size: 30px;
}

.num-tasks {
  position: relative;
  font-size: 0.5em;
  font-weight: bold;
  top: -6px;
  color: white;
  right: 23px;
}